.main-language-text {
  font-size: 3.5rem;
  margin-left: 24%;
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
}

.translate-text {
  font-size: 1.1rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}
