.gradient-background {
    background: linear-gradient(to bottom,#FFEFB0, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    padding-left: 20px;
    padding-top: 20px;
}

.user-id {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 40px
}

.translator-base {
    display: flex;
    flex-direction: column;
    /* height: 500px;
    width: 1350px; */
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 20px;
    align-self: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right:20px;
    /* align-items: center;
    justify-content: center; */
}

.translator-language-base {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    /* width: 1320px; */
    background-color: #FFFFFF;

}

.save-to-database-btn {
    display: flex;
    height: 30px;
    width: 200px;
    border: 1px solid '#D9D9D9';
    justify-content: center;
    align-items: center;
}

.translator-entry-language {
    height: 30px;
    width: 360px;
    background-color: rgb(231, 223, 223);
    border: 1px solid #D9D9D9;
    border-radius: 3px;
}

.translator-output-language {
    height: 30px;
    width: 360px;
    background-color: rgb(231, 223, 223);
    border: 1px solid '#D9D9D9';
    border-radius: 3px;
}

.translator-text-base {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    /* width: 1320px; */
    background-color: #FFFFFF;
}

.translator-entry {
    height: 400px;
    width: 360px;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
}

.translator-output {
    height: 400px;
    width: 360px;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
}
